# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IntelliJ / JetBrains
.idea/
*.iml
out/
*.ipr
*.iws

# VSCode
.vscode/

# Logs
*.log
logs/

# Docker volumes locais
postgres_data/
pgadmin_data/

# Temp files
*.tmp
*~
